{# Carousel Banner Component
   Horizontal scrolling banner with services, moving right to left in infinite loop
   Following semantic HTML5 and accessibility best practices #}
<section class="carousel-banner">
  <div class="carousel-banner__container">
    <div class="carousel-banner__track">
      <div class="carousel-banner__content">
        <span class="carousel-banner__item">UI/UX DESIGN</span>
        <span class="carousel-banner__separator">
          {% include 'components/_asterisk-icon.html.twig' %}
        </span>
        <span class="carousel-banner__item">LOGO DESIGN</span>
        <span class="carousel-banner__separator">
          {% include 'components/_asterisk-icon.html.twig' %}
        </span>
        <span class="carousel-banner__item">DESIGN</span>
        <span class="carousel-banner__separator">
          {% include 'components/_asterisk-icon.html.twig' %}
        </span>
        <span class="carousel-banner__item">DEVELOPMENT</span>
        <span class="carousel-banner__separator">
          {% include 'components/_asterisk-icon.html.twig' %}
        </span>
        <span class="carousel-banner__item">WORDPRESS</span>
        <span class="carousel-banner__separator">
          {% include 'components/_asterisk-icon.html.twig' %}
        </span>
        <span class="carousel-banner__item">MARKETING</span>
        <span class="carousel-banner__separator">
          {% include 'components/_asterisk-icon.html.twig' %}
        </span>
        <span class="carousel-banner__item">GOOGLE GRAPHICS</span>
        <span class="carousel-banner__separator">
          {% include 'components/_asterisk-icon.html.twig' %}
        </span>
        <span class="carousel-banner__item">SEO OPTIMIZATION</span>
        <span class="carousel-banner__separator">
          {% include 'components/_asterisk-icon.html.twig' %}
        </span>
        <span class="carousel-banner__item">BRANDING</span>
        <span class="carousel-banner__separator">
          {% include 'components/_asterisk-icon.html.twig' %}
        </span>
        <span class="carousel-banner__item">WEB DEVELOPMENT</span>
        <span class="carousel-banner__separator">
          {% include 'components/_asterisk-icon.html.twig' %}
        </span>
        <span class="carousel-banner__item">DIGITAL MARKETING</span>
        <span class="carousel-banner__separator">
          {% include 'components/_asterisk-icon.html.twig' %}
        </span>
        <span class="carousel-banner__item">CONTENT CREATION</span>
        <span class="carousel-banner__separator">
          {% include 'components/_asterisk-icon.html.twig' %}
        </span>
        <span class="carousel-banner__item">SOCIAL MEDIA</span>
        <span class="carousel-banner__separator">
          {% include 'components/_asterisk-icon.html.twig' %}
        </span>
        <span class="carousel-banner__item">E-COMMERCE</span>
        <span class="carousel-banner__separator">
          {% include 'components/_asterisk-icon.html.twig' %}
        </span>
        <span class="carousel-banner__item">MOBILE APPS</span>
        <span class="carousel-banner__separator">
          {% include 'components/_asterisk-icon.html.twig' %}
        </span>
        <span class="carousel-banner__item">CONSULTING</span>
        <span class="carousel-banner__separator">
          {% include 'components/_asterisk-icon.html.twig' %}
        </span>
        <span class="carousel-banner__item">UI/UX DESIGN</span>
        <span class="carousel-banner__separator">
          {% include 'components/_asterisk-icon.html.twig' %}
        </span>
        <span class="carousel-banner__item">LOGO DESIGN</span>
        <span class="carousel-banner__separator">
          {% include 'components/_asterisk-icon.html.twig' %}
        </span>
        <span class="carousel-banner__item">DESIGN</span>
        <span class="carousel-banner__separator">
          {% include 'components/_asterisk-icon.html.twig' %}
        </span>
        <span class="carousel-banner__item">DEVELOPMENT</span>
        <span class="carousel-banner__separator">
          {% include 'components/_asterisk-icon.html.twig' %}
        </span>
        <span class="carousel-banner__item">WORDPRESS</span>
        <span class="carousel-banner__separator">
          {% include 'components/_asterisk-icon.html.twig' %}
        </span>
        <span class="carousel-banner__item">MARKETING</span>
        <span class="carousel-banner__separator">
          {% include 'components/_asterisk-icon.html.twig' %}
        </span>
        <span class="carousel-banner__item">GOOGLE GRAPHICS</span>
        <span class="carousel-banner__separator">
          {% include 'components/_asterisk-icon.html.twig' %}
        </span>
        <span class="carousel-banner__item">SEO OPTIMIZATION</span>
        <span class="carousel-banner__separator">
          {% include 'components/_asterisk-icon.html.twig' %}
        </span>
        <span class="carousel-banner__item">BRANDING</span>
        <span class="carousel-banner__separator">
          {% include 'components/_asterisk-icon.html.twig' %}
        </span>
        <span class="carousel-banner__item">WEB DEVELOPMENT</span>
        <span class="carousel-banner__separator">
          {% include 'components/_asterisk-icon.html.twig' %}
        </span>
        <span class="carousel-banner__item">DIGITAL MARKETING</span>
        <span class="carousel-banner__separator">
          {% include 'components/_asterisk-icon.html.twig' %}
        </span>
        <span class="carousel-banner__item">CONTENT CREATION</span>
        <span class="carousel-banner__separator">
          {% include 'components/_asterisk-icon.html.twig' %}
        </span>
        <span class="carousel-banner__item">SOCIAL MEDIA</span>
        <span class="carousel-banner__separator">
          {% include 'components/_asterisk-icon.html.twig' %}
        </span>
        <span class="carousel-banner__item">E-COMMERCE</span>
        <span class="carousel-banner__separator">
          {% include 'components/_asterisk-icon.html.twig' %}
        </span>
        <span class="carousel-banner__item">MOBILE APPS</span>
        <span class="carousel-banner__separator">
          {% include 'components/_asterisk-icon.html.twig' %}
        </span>
        <span class="carousel-banner__item">CONSULTING</span>
      </div>
    </div>
  </div>
</section>
 