{# Reusable Logo Component #}
{# Can be used in header, footer, or anywhere else #}

<div class="logo">
  <div class="logo__icon">
    <svg width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="42.8328" cy="43.1667" r="42.5" fill="#B2FBA4"/>
      <path d="M65.5779 50.0519C66.8028 50.0519 67.7959 49.0589 67.7959 47.8339V38.962C67.7959 37.737 66.8028 36.744 65.5779 36.744H62.2231C61.9883 36.0803 61.718 35.429 61.4132 34.7927L63.7865 32.4195C64.6527 31.5534 64.6527 30.149 63.7866 29.2828L57.5133 23.0094C57.0972 22.5934 56.5331 22.3597 55.9449 22.3597C55.3566 22.3597 54.7925 22.5933 54.3766 23.0094L52.0032 25.3827C51.3668 25.078 50.7156 24.8077 50.0519 24.5729V21.218C50.0519 19.9931 49.0589 19 47.8339 19H38.962C37.737 19 36.744 19.9931 36.744 21.218V24.5729C36.0803 24.8077 35.429 25.078 34.7929 25.3827L32.4195 23.0094C31.5534 22.143 30.149 22.1432 29.2828 23.0094L23.0092 29.2826C22.5932 29.6986 22.3595 30.2627 22.3595 30.851C22.3595 31.4393 22.5932 32.0034 23.0092 32.4193L25.3825 34.7927C25.0779 35.429 24.8077 36.0803 24.5729 36.744H21.218C19.9931 36.744 19 37.737 19 38.962V47.8339C19 49.0589 19.9931 50.0519 21.218 50.0519H24.5729C24.8077 50.7156 25.0779 51.3669 25.3825 52.0032L23.0092 54.3766C22.5932 54.7925 22.3595 55.3566 22.3595 55.9449C22.3595 56.5332 22.5932 57.0973 23.0092 57.5133L29.2829 63.7866C30.1491 64.6527 31.5534 64.6527 32.4196 63.7866L34.793 61.4134C35.4291 61.718 36.0805 61.9883 36.744 62.2231V65.5779C36.744 66.8028 37.737 67.7959 38.962 67.7959H47.8339C49.0589 67.7959 50.0519 66.8028 50.0519 65.5779V62.223C50.7156 61.9882 51.3669 61.7178 52.0032 61.4132L54.3766 63.7865C55.2428 64.6526 56.6471 64.6527 57.5133 63.7865L63.7866 57.5131C64.6528 56.6469 64.6528 55.2426 63.7866 54.3764L61.4134 52.0032C61.7181 51.3669 61.9884 50.7154 62.2233 50.0519H65.5779ZM51.1568 47.0946H41.9193C40.6944 47.0946 39.7013 46.1015 39.7013 44.8766V35.6388C39.7013 34.4139 40.6944 33.4208 41.9193 33.4208C43.1442 33.4208 44.1373 34.4139 44.1373 35.6388V42.6586H51.1568C52.3817 42.6586 53.3748 43.6517 53.3748 44.8766C53.3748 46.1015 52.3817 47.0946 51.1568 47.0946Z" fill="#001E18"/>
    </svg>
  </div>
  <div class="logo__text">
    <h3 class="logo__title">Demo</h3>
    <p class="logo__tagline">The Demo Shop</p>
  </div>
</div>
